<nav class="blue accent-1">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Flexsearch</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a {{link-for 'sessions'}}></a>Sessions</li>
    </ul>
  </div>
</nav>

{{outlet}}
