<header>
    <div class="ui fixed inverted main menu large">
        <div class="container">
            <a class="active item" href="http://www.flexsearch.net/"><i class="home icon"></i>FlexSearch</a>
            {{#link-to 'sessions' class='item'}}Sessions{{/link-to}}
        </div>
    </div>
</header>

{{outlet}}
